* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    background-image: url("../images/Large-Triangles.svg");
    background-attachment: fixed;
    color: white;
}

ul {
    list-style: none;
}

.container {
    margin: auto;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.container>h1 {
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: white;
    outline: 1px black solid;
}

nav>.container {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: black;
}

#email {
    color: white;
}

#email:hover {
    color: gray;
}

a:hover {
    cursor: pointer;
    color: orangered;
}

.about.nav-active, .projects.nav-active, .resume.nav-active {
    height: 50px;
    color: orangered;
}

.home a, li>a {
    padding: 10px;
    margin: auto 5px;
}

.home a {
    display: block;
}

.home.active a {
    color: orangered;
}

#pages {
    width: 60%;
    text-align: right;
}

#pages li {
    height: 100%;
    /* width: 15%;
    text-align: center; */
    display: inline-block;
}

#pages>li>a {
    display: block;
}

header {
    max-height: 800px;
    min-height: 460px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>div {
    width: 50%;
}

header>img {
    border: 3px solid white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#seeMore {
    display: block;
    margin: auto;
    width: 110px;
    background: transparent;
    border: transparent solid;
    color: white;
    font-size: 1.3em;
}

#seeMore:hover {
    cursor: pointer;
    color: orangered;
}

#about {
    margin: 20px;
    padding: 20px;
    overflow: auto;
}

#about>h1 {
    margin-bottom: 20px
}

#me {
    height: 400px;
    width: 444px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

#aboutArticle {
    font-size: 16px;
    padding-bottom: 20px;
}

#about p {
    margin-top: auto;
}

#aboutNav {
    display: flex;
    justify-content: center;
}

.aboutLis:first-child {
    color: orangered;
    border-bottom: 3px solid orangered;
}

#aboutNav li {
    width: 15%;
    margin: 10px;
    font-size: 1.1em;
    text-align: center;
}

#aboutNav li:hover {
    cursor: pointer;
    color: orangered !important;
}

.profile~div {
    display: none;
}

.aboutDivs {
    margin: auto;
    width: 90%;
    min-height: 250px;
    animation: fadeIn 1.5s;
}

.projectArt {
    background-color: rgba(255, 255, 255, .7);
    min-height: 300px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin: 30px auto;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.projectImg {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    margin: 0 10px;
}

.projectImg:hover {
    opacity: 0.7
}

.projectImg img {
    width: 100%;
}

@media screen and (max-width: 890px) {
    header {
        margin-top: 100px;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
    }
    header>div {
        width: 100%;
    }
    header>img {
        height: auto;
        width: 100%;
    }
    .home>a {
        text-align: center;
    }
    #seeMore {
        margin-top: 50px;
    }
    nav>.container {
        display: block;
        height: auto;
    }
    #pages {
        width: 100%;
        text-align: center;
    }
    #pages>li {
        display: block
    }
    #aboutNav {
        flex-direction: column;
    }
    #aboutNav>li {
        width: 100%;
        margin: 10px 0;
    }
    .projectArt:first-of-type {
        flex-direction: column-reverse;
        text-align: center;
    }
    .projectArt {
        flex-direction: column;
        text-align: center;
    }
    .projectArt>div {
        width: 100%;
        word-wrap: break-word;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1121px) {
    #about {
        text-align: center;
    }
    #me {
        float: none;
        max-width: 100%;
        height: auto;
        margin-right: 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}