* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
html, body{
    height: 100vh;
    background-color: #000000;
    background-image: url("images/Large-Triangles.svg");
    color:white;
  }


.container { 
    width: 90%;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    animation-name: container;
    animation-duration: 1.5s;
    
}
nav {
    height: 53px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    
}

a {
    text-decoration: none;
    color: black;   
}
a:hover {
    cursor: pointer;
    color: gray;
}

.about.nav-active, .projects.nav-active, .resume.nav-active {
    border-bottom:gray solid;
    height: 50px;
    color: gray;
}


.home, li > a {
    padding: 10px;
    margin: auto 5px;
}

.home {
    display: inline-block;
}
#pages {
    width: 60%;
    text-align: right;
}
#pages li {
    height: 100%;
    width: 15%;
    text-align: center;
    display: inline-block;
}
#pages li:hover {
    background-color: lightgray;
}
#pages > li > a {
    display: block;   
}

header {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header > div {
    width: 50%;
    
}
header > img {
    border: 3px solid white;
    border-radius: 50%;
    height: 300px;
}


#seeMore {
    display: block;
    margin: auto;
    width: 100px;
    background: transparent;
    border: transparent solid;
    color: white;
    font-size: 1.2em;
}
#seeMore:hover {
    cursor: pointer;
    color: gray;
    
}

@media screen and (max-width: 600px) {
    nav, .home, #pages > li, header{
        display: block;
    }
    #pages {
        text-align: left;
    }
}
@keyframes container {
    from {opacity: 0;}
    to {opacity: 1;}
  }
