* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;     
}

html, body{
    height: 100vh;
  }
html {
    width: 100vw;
    overflow-x: hidden;
}
body {
    background-color: #000000;
    background-image: url("images/Large-Triangles.svg");
    background-attachment: fixed;
    color:white;
}
ul {
    list-style: none;
}

.container { 
    width: 90%;
    margin: auto;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    
}
nav {
    height: 53px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    outline: 1px black solid;
    
    
}

a {
    text-decoration: none;
    color: black;   
}
a:hover {
    cursor: pointer;
    color: gray;
}

.about.nav-active, .projects.nav-active, .resume.nav-active {
    border-bottom:gray solid;
    height: 50px;
    color: gray;
}


.home, li > a {
    padding: 10px;
    margin: auto 5px;
}

.home {
    display: inline-block;
}
#pages {
    width: 60%;
    text-align: right;
}
#pages li {
    height: 100%;
    width: 15%;
    text-align: center;
    display: inline-block;
}
#pages li:hover {
    background-color: lightgray;
}
#pages > li > a {
    display: block;   
}

header {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header > div {
    width: 50%;
    
}
header > img {
    border: 3px solid white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}


#seeMore {
    display: block;
    margin: auto;
    width: 110px;
    background: transparent;
    border: transparent solid;
    color: white;
    font-size: 1.3em;
}
#seeMore:hover {
    cursor: pointer;
    color: gray;
    
}
#about {
    margin: 20px;
    padding: 20px;
    overflow: auto;
}
#about > h1 {
    margin-bottom: 20px
}
#me {
    height: 400px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}
#aboutArticle {
    font-size: 16px;
    padding-bottom: 20px;    
}
#about p {
    margin-top: auto;
}
#aboutNav {
    display: flex;
    justify-content: center;
}
.aboutLis:first-child    {
    border-bottom: 2px solid gray;
}
#aboutNav li {
    width: 15%;
    margin: 10px;
    font-size: 1.1em;
    text-align: center;
}
#aboutNav li:hover{
    cursor: pointer;
}
.profile ~ div {
    display: none;
}
.aboutDivs {
    min-height: 250px;
    animation: fadeIn 1.5s;
}

@media screen and (max-width: 600px) {
    nav, .home, #pages > li, header{
        display: block;
    }
    #pages {
        text-align: left;
        
    }
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
